<html>
  <body>
    <h1>Super simple journal app</h1>
    <h2>Home page</h2>
    <% if @logged_in %>
      <p>You are logged in as <%= @username %>. |
      <a href="/logout">Logout</a></p>
      <hr>
    <h3>Journal entries</h3>
    <a href="/entries/new"
    style="background-color: blue; color: white; padding: 2px 3px; text-decoration: none; border: 1px solid blue; border-radius: 2px;">
    Add New 
    </a>

    <% if @entries %>
      <% @entries.each do |entry| %>
        <div class="entry">
          <p>
            <b><%= entry["title"] %></b>
            <i><%= entry["created_at"] %></i>
            <a href="/entries/<%= entry["entry_id"] %>/delete"
              style="background-color: red; color: white; padding: 2px 3px; text-decoration: none; border: 1px solid red; border-radius: 2px;"
              onclick="return confirm('Are you sure?');">
              Remove
            </a>
          </p>
          <p>
            <%= entry["entry"] %>
          </p>
          <hr>
        </div>
      <% end %>
    <% else %>
      <p>Empty</p>
    <% end %>

    <% else %>
      <p>
        You are not logged in. |
        <a href="/login">Login</a> |
        <a href="/register">Register</a>
      </p>
    <% end %>
  </body>
</html>

